<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body style="display: flex; flex-direction: column">
      <button
        onclick="
            fetch('http://localhost:4200/pingWithResponse')
                .then(response => response.text())
                .then(data => {
                    const span = document.createElement('span');
                    span.innerHTML = data;
                    document.body.appendChild(span);
                 })"
      >Ping first microservice (duplex)</button>
      <button
        onclick="
            fetch('http://localhost:4200/pingWithoutResponse')
                .then(response => response.text())
                .then(data => {
                    const span = document.createElement('span');
                    span.innerHTML = data;
                    document.body.appendChild(span);
                 })"
      >Ping first microservice (simplex)</button>
      <button
        onclick="
            fetch('http://localhost:4200/pingWithComplexWithResponse')
                .then(response => response.text())
                .then(data => {
                    const span = document.createElement('span');
                    span.innerHTML = data;
                    document.body.appendChild(span);
                 })"
      >Ping second microservice (duplex)</button>
      
      <button
        onclick="
            fetch('http://localhost:4200/pingWithComplexWithoutResponse')
                .then(response => response.text())
                .then(data => {
                    const span = document.createElement('span');
                    span.innerHTML = data;
                    document.body.appendChild(span);
                 })"
      >Ping second microservice through first one (simplex)</button>
  </body>
</html>